.card {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}


.card-top-left {
  width: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-top-right {
  width: 50%;
}

.card-top{
  display: flex;
  gap: 16px;
}

.card-middle-video {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-top: 8px;
}

.card-bottom {
  display: flex;
  /* justify-content: space-between; */
  gap: 8px;
}

.card-bottom img {
  height: 80px;
  flex-grow: 1;
  object-fit: cover;
  object-position: center;
}

.fa-star {
  color: #FFB519;
}

.fa-heart {
  color:pink;
  position: absolute;
  top: 8px;
  left: 8px;
}
